<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Empresa de Seguridad</title>
    {% block head_extra %}{% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">SeguridadPro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'personal_view' %}">Personal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ubicacion' %}">Ubicación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'acerca_de_nosotros' %}">Acerca de Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'acercademi' %}">Acerca de mí</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-expanded="false">
                        <img src="{{ user.avatar.url }}" alt="Avatar de {{ user.username }}"
                             style="width: 40px; height: 40px; border-radius: 50%;">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#changeAvatarModal">Cambiar Avatar</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<!-- Footer -->
<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>SeguridadPro</h5>
                <p>Ofreciendo la mejor seguridad desde 1999.</p>
            </div>
            <div class="col-md-3">
                <h6>Enlaces rápidos</h6>
                <ul class="list-unstyled">
                    <li><a href="{% url 'index' %}" class="text-white">Inicio</a></li>
                    <li><a href="{% url 'personal_view' %}" class="text-white">Personal</a></li>
                    <li><a href="{% url 'ubicacion' %}" class="text-white">Ubicación</a></li>
                    <li><a href="{% url 'acerca_de_nosotros' %}" class="text-white">Acerca de Nosotros</a></li>
                    <li><a href="{% url 'contact' %}" class="text-white">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>Contacto</h6>
                <address>
                    123 Calle Principal,<br>
                    Ciudad, País<br>
                    Tel: (123) 456-7890
                </address>
            </div>
        </div>
    </div>
</footer>

<!-- Modal para cambiar el avatar -->
<div class="modal fade" id="changeAvatarModal" tabindex="-1" aria-labelledby="changeAvatarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeAvatarModalLabel">Cambiar Avatar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Aquí iría el formulario para cambiar el avatar -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
